.user{
    width:90%;
    position: absolute;
    margin-top: 3%;
    margin-left: 1%;
    height: 10vh;
    align-items: center;
    font-size: 25px;
  }
#wish{
    width: 20%;
    height: 30px;
}
.btn{
    height: 40px;
    margin-left: 3px;
    border-radius: 10%;
}